html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.map-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.coodr {
    position: fixed;
    z-index: 10;
    top: 10px;
    left : 10px;
    background: #e8ffa8;
    border: 1px solid #b4d185;
    padding: 5px;
    -webkit-box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;

}